# Prerequisites
*.d
.DS_Store
tmp*
ft_gkrellm*
moc_MainWindow.cpp
moc_MonitorQT.cpp
moc_QFrameModule.cpp
moc_predefs.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode

Makefile
